<li><a href="#js-overview">Overview</a></li>
<li>
    <a href="#basic">Basic</a>
    <ul class="nav">
        <li><a href="#basic-examples">Examples</a></li>
        <li><a href="#basic-usage">Usage</a></li>
    </ul>
</li>
<li>
    <a href="#steps-sidebar">Steps (sidebar)</a>
    <ul class="nav">
        <li><a href="#steps-sidebar-examples">Examples</a></li>
        <li><a href="#steps-sidebar-usage">Usage</a></li>
    </ul>
</li>
<li>
    <a href="#steps-top">Steps (top)</a>
    <ul class="nav">
        <li><a href="#steps-top-examples">Examples</a></li>
        <li><a href="#steps-top-usage">Usage</a></li>
    </ul>
</li>