<li>
    <a href="#get-dependencies">Get Dependencies</a>
    <ul class="nav">
        <li><a href="#get-bootstrap">Bootstrap CDN</a></li>
        <li><a href="#get-jquery">jQuery</a></li>
    </ul>
</li>
<li>
    <a href="#download">Download Magus</a>
    <ul class="nav">
        <li><a href="#download-options">Download options</a></li>
    </ul>
</li>
<li>
    <a href="#whats-included">What's included</a>
</li>
<li>
    <a href="#template">Basic template</a>
</li>
<li>
    <a href="#browsers">Browser support</a>
</li>
<li>
    <a href="#license-faqs">License FAQs</a>
</li>